<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head('Register')"></head>

<body>
<div th:replace="fragments/menu::menu(${path})"></div>

<div class="container">
    <h3>Register Form</h3>
    <form th:object="${user}" method="post" class="form-horizontal col-md-9 col-lg-6" enctype="multipart/form-data">
        <div class="form-group row">
            <label path="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" th:value="${recipe.recipeName}" id="recipeName" name="recipeName"
                       class="form-control" title="Name" th:errorclass="field-error">
            </div>
        </div>
    </form>
</div>
</body>

</html>